<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em Contato</title>
</head>
<body>
    <h3>Falee Comigoo!!</h3>
     <!--Cabeçalho Do My Site-->
     <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="Perfil.jpeg" alt="Foto do Perfil" height="200px">
        </section>
        <!--Navegação (Menu)-->
        <nav>
            <br><br><br><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="MySite.HTML">Sobre Mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Musica.html">Músicas</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato.html">Entre em contato</a>
        </nav>
        </header>

        <article>
            <fieldset>
                <br>
            <form action="#">
                <label for="Name"><strong>Nome:</strong></label>
                <input type="text" autocomplete="off" size="50" name="nome"
                id="nome"> <br><br>
                
                <label for="Email"><strong>Email:</strong></label>
                <input type="email" name="Email" id="Email" size="50"><br><br>

                <label for="WhatsApp"><strong>WhatsApp:</strong></label>
                <input type="tel" autocomplete="off" size="45" name="WhatsApp" id="WhatsApp"><br><br>

                <label for="Data de nascimento"><strong>Data de nascimento:</strong></label>
                <input type="date" name="Data de nascimento" id="Data de nascimento"><br><br>
            </fieldset>
            <p><STROng>Deixe sua mensagem:</STROng></p>
                <textarea name="message" placeholder="Deixe sua mensagem!!" id="mensagem" cols="30" rows="10"></textarea>
                <br>
            
                
                <input type="submit" value="Enviar">
                <br><br>
                <footer>
                    by Bárbara Barros &copy;
                </footer>

            
                

    

            </form>
        </article>
  
    
</body>
</html>