<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Músicas</title>
</head>
<body>
     <!--Cabeçalho Do My Site-->
     <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="Perfil.jpeg" alt="Foto do Perfil" height="200px">
        </section>
        <!--Navegação (Menu)-->
        <nav>
            <br><br><br><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="MySite.HTML">Sobre Mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Musica.html">Músicas</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato.html">Entre em contato</a>
        </nav>
        </header>

        <!--Seção para minha playlista-->
        <main>
            <h3>Top 10 da minhas músicas</h3>
            <ol reversed>
                <li>Alessandro vilas boas - Oh se fendesses</li>
                <li>Grupo Elo- Calmo, sereno e tranquilo</li>
                <li>Lukas Agustinho - Redentor </li>
                <li>Marcelo Markes - Eu tenho você</li>
                <li>Sarah Beatriz - O maior vilão sou eu</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </main>
        <footer>
            by Bárbara Barros &copy;
        </footer>
    
</body>
</html>