<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header>
        <!--Aqui começa meu logo-->
        <section>
            LOGO 
        </section>
        <!--Navegação (menu)-->
        <nav>
            Sobre mim | Entreterimento | Música
        </nav>
    </header>

    <!--Conteúdo Principal do mySite-->
    <main>
        <h1>Welcome to my universe</h1>
    <p>Hey guys, my name is Bárbara!! <br>
    Tenho 18 anos e estou me identificando <br> 
    com a aréa de T.I, pretendo ingreçar em <br>
     uma universidade. PRA CIMAAA!
    <h3>Coisas sobre mim</h3>
    <ul>
        <li>Estudo pelo conhecimento</li>
        <li>Pai de pet
            <ul>
                <li>Teka</li>
                <li>Baby Sander</li>
                <li>Tina</li>
            </ul>
        </li>
        <li>Pai de Plantas</li>
        <li>Tenho como práticas:</li>
            <ul>
                <li>Codar</li>
                <li>Skate</li>
                <li>Acampar</li>
                <li>Morar por aí</li>
            </ul>
       <li>Adoro comer</li>     
       <li>Gosto de me divertir</li>

    </ul>
</p>
    </main>
    <!--Rodapé-->
    <footer>
        By BárbaraBarros &copy;
    </footer>
    
</body>
</html>


